/*Css pour le header, le footer et le body*/
html, body {
    height: 100%;  /* Assure que le html et le body prennent toute la hauteur */
    margin: 0;     /* Enlève les marges par défaut */
    padding: 0;    /* Enlève les paddings par défaut */
}
header {
    background-color: #08152B;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: #08152B;
    font-size: clamp(0.5rem, 1vw, 1rem);
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #08152B;
    font-size: clamp(0.5rem, 1vw, 1rem);
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
    display: flex;        /* Utilise flexbox pour gérer les contenus */
    flex-direction: column; /* Stack les éléments verticalement */
    min-height: 100vh;    /* Utilise vh pour la hauteur minimale (viewport height) */
    margin: 0;
}
footer {
    font-family: 'Montserrat', sans-serif;
    color: #08152B;
    font-size: clamp(0.5rem, 1vw, 1rem);
    background-color: #08152B;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;  /* Pousse automatiquement le footer en bas */
    width: 100%;       /* Assure que le footer s'étend sur toute la largeur */
    position: relative; /* Changez à 'fixed' si vous voulez que le footer reste visible lors du scrolling */
    bottom: 0;         /* Pousse le footer en bas de la page */
}
/*###############################################   reecriture bootsrap  ###############################################*/

.nav-link{
    padding: 0.5em;
    margin: 0.5em;
    text-decoration: none;
    color: white !important;
    font-family: 'Montserrat', sans-serif   !important;
}
.nav-link:hover{
    color: #BEA57D !important;
}

.btn-primary{
    background-color: #BEA57D !important;
    border: none;
    color: white;
    padding: 0.5em 1em;
    font-family: 'Montserrat', sans-serif   !important;
}
/*###############################################   Footer  ###############################################*/
.footer-content {
    width: 60%;
    display: flex;
    justify-content: space-around; 
    align-items: start;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne en dessous sur les petits écrans */
}

.footer-content-column {
    display: flex;
    flex-direction: column;
    align-items: left;
    font-size: small !important;
    padding-left: 5%;
}

.footer-content-column h3 {
    margin-top: 0; 
    margin-bottom: 0;
    font-size: medium;
    color: white;
    text-align: center;
}

.footer-content-column ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;
}

.footer-content-column ul li a {
    color: white; 
    text-decoration: none; 
    padding: 0.5em; 
    text-align: center;
}

.footer-content-column ul li a:hover {
    color: #BEA57D !important; 
}


.footer-mentions a {
    color: white;
    font-size: xx-small;
    padding-left: 0.5em;
}
/*###############################################   terms and conditions    ###############################################*/
.terms-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #FFFDF6;
    margin: 1.5em;
    padding-right: 5%;
    padding-left: 5%;
    border-radius: 1em;
}

.terms-content h2 {
    text-align: center !important;
}


/*Foonts*/
@font-face {
    font-family: 'Montserrat';
    /*depuis un ficher local*/
    src: url('assets/fonts/Montserrat/static/Montserrat-Regular.ttf');
    font-weight: normal;
    font-style: normal;
} 
@font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}


/*###############################################   RESPONSIVE  ###############################################*/
@media screen and (max-width: 768px) {
    .header-search-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-search-bar input,
    .header-search-bar button,
    .header-search-bar-text {
        width: 100%;
        margin-right: 0;
    }
    
    .header-search-bar input {
        border-right: none;
    }

    .footer-content-column {
        margin-bottom: 1em;
    }

}

/* Styles pour les appareils mobiles */
@media screen and (max-width: 480px) {
    .header-search-bar-text,
    .header-login button,
    .header-search-bar button {
        font-size: 0.8em; 
    }
    
    .header-search-bar {
        padding: 0.3em;
    }
}

