/*Css pour le header, le footer et le body*/

body {
    margin: 0;
    padding: 0;
    background-color: #D9D9D9;
}

header {
    background-color: #08152B;
    color: white;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

/*Barre de recherche au centre du header*/
.header-search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9 !important;
    border-radius: 10px;
    padding: 0.5em;
    height: 2em!important;
}

.header-search-bar input {
    width: 50%;
    border-right: 1px solid #08152B !important; /* Ajoute un séparateur visuel */
    margin-right: 20px;
    border: none;
    background-color: #D9D9D9 !important;
}
.header-search-bar input:focus {
    outline: none;
}

.header-search-bar input[type="date"] {
    padding-right: 20px;
    width: 30% !important;
}


.header-search-bar button {
    background-color: #D9D9D9 !important;
    color: white !important;
    border: none !important;
    width : 15% !important;
}
.header-search-bar button:hover {
    width : 16% !important;
}

.header-search-bar-text {
    margin-right: 1em;
    margin-left:1em;
    color: #08152B;
}


/*CSS pour les informations en haut à droite du header*/
.header-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-login{
    display: flex;
    justify-content:flex-end;
    align-items: center;
    background-color: #D9D9D9 !important;
    border-radius: 10px;
    padding: 0.5em;
    height: 1em!important;
    border: none !important;
}
.header-login button {
    background-color: #D9D9D9 !important;
    color: #08152B !important;
    border: none !important;
}
.burger-menu {
    display: block;
}
.line {
    width: 20px;
    height: 2px;
    background-color: white;
    margin: 5px;
}




.header-right {
    display: flex;
    align-items: center;
    justify-content: flex-end; 
}

.burger-menu,
.header-login {
    margin: 0;
}



/*CSS pour le footer*/
footer {
    background-color: #08152B;
    color: white;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-around; 
    align-items: start;
    flex-wrap: wrap; /* Permet aux éléments de passer à la ligne en dessous sur les petits écrans */
}

.footer-content-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
}

.footer-content-column h3 {
    margin-top: 0; 
}

.footer-content-column ul {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
}

.footer-content-column ul li a {
    color: white; 
    text-decoration: none; 
    padding: 0.5em; 
}

.footer-content-column ul li a:hover {
    text-decoration: underline; 
}

.footer-copy {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: xx-small;
}
/*CSS pour le body*/









/*RESPOSIVE*/
@media screen and (max-width: 768px) {
    /* Barre de recherche en ligne avec moins d'espace en largeur */
    .header-search-bar {
        flex-direction: column;
        align-items: flex-start;
    }
    .header-search-bar input,
    .header-search-bar button,
    .header-search-bar-text {
        width: 100%;
        margin-right: 0;
    }
    /* Supprimez le séparateur de bordure sur les inputs pour les écrans plus petits */
    .header-search-bar input {
        border-right: none;
    }

    .footer-content-column {
        margin-bottom: 1em; /* Ajoute de l'espace entre les colonnes */
    }

}

/* Styles pour les appareils mobiles */
@media screen and (max-width: 480px) {
    /* Rendre le texte et les boutons plus petits pour économiser de l'espace */
    .header-search-bar-text,
    .header-login button,
    .header-search-bar button {
        font-size: 0.8em; /* Ajustez la taille de la police si nécessaire */
    }
    /* Ajustez l'espacement et le padding pour les éléments de la barre de recherche */
    .header-search-bar {
        padding: 0.3em;
    }
}
